.body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    width: 30%;
    justify-content:flex-start;
}

.info-table td{
    vertical-align: top;
    padding: 10px;
}

.left-column{
    width: 50%;
    text-align: left;
}

.right-column{
    width: 50%;
    text-align: left;
    display: block;
}

.blok{
    display: block;
}

